@use '@/styles/main.scss' as *;

.menu{
    display: flex;
    flex-direction: column;
    flex: .2;
    padding: 1rem 0;
    li{
        list-style: none;
        padding: .5rem 1rem;
        margin-bottom: .5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 1rem;
        transition: all .5s;
        width: 120px;
        &:hover{
            background-color: $light-green;
            transition: all .5s;
        }
    }

    .selected{
        background-color: $light-green;
    }
    button{
        padding: .5rem 1rem;
        background-color: $medium-green;
        cursor: pointer;
        width: 120px;
        margin: auto;
        border-radius: 1rem;
        border: none;
        margin-bottom: 1rem;    
    }
}