$font-color-main: rgb(2,2,2);
$font-color-invert: rgb(251, 251, 251);

$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

// Colors

$dark-green: rgba(53,96,90,1);
$medium-green: rgba(181,189,137,1);
$light-green: #DEE2CB;
$grey: rgb(177, 177, 177);