.catalogueItem{
    td{
        align-content: start;
        text-align: center;        
    }
    .name{
        text-align: left;
    }
}

.price{
    text-align: center;
}

.name{
    max-width: 400px;
}

.check{
    @media(max-width: 768px) {
        display: none;
    }
}