.verticalText {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  transform: rotate(180deg);
  padding: .5rem;
  padding-bottom: 0;
  text-align: left;
  @media (max-width: 768px) {
    display: none;
  }
}

.thBottom{
    &:first-of-type{
        text-align: left;
    }
    align-content: end;
    padding-bottom: 10px;
}

.catalogueTable {
  width: 100%;
  padding: 0 2rem;
  th{
    cursor: pointer;
  }
}

.catalogue {
  width: 100%;
  &__container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}
