@use '../../styles/main.scss' as *;

.dashboard{
    background-color: $dark-green;
    height: 100%;
    padding-bottom: 2rem;

    &__container{
        max-width: 1200px;
        background-color: $grey;
        margin: auto;
        border-radius: 1rem;
        display: flex;
    }
}